html {
  background: url("/home/a7r/Pictures//Wallpapers/A7R-Wallpaper-Anime-2-Dark.png");
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}
body {
  backdrop-filter: blur(37px) saturate(1.3) brightness(0.9) !important;
}
body.a7r {
  /* Background colors based on Kitty theme */
  --accent: #6DA6CE;
  --accent-overlay: #6399C0;
  --navbar-accent: #507FA3;
  --background: #192B3A00;
  --body-background: #192B3A00;
  --background-darker: #15202B00;
  --current-background: var(--body-background);
  --navbar-background: #192B3A00;
  --navbar-active-background: #2f495C00;
  
  /* Status colors */
  --success: #6DA6CE;
  --success-hover: #8fb8d5;
  --input-background: #15202B;
  --modal-background: var(--body-background);
  --modal-border: #3E6383;
  --primary: #669BC1;
  --primary-hover: #6DA6CE;
  --danger: #3E6383;
  --danger-hover: #4C7B9D;
  
  /* Anticheat status colors */
  --anticheat-denied: #3E6383;
  --anticheat-broken: #6399C0;
  --anticheat-running: #8fb8d5;
  --anticheat-supported: #6DA6CE;
  --anticheat-planned: #507FA3;
  
  /* UI elements */
  --text-title: #8fb8d5;
  --icons-background: #3E6383;
  --action-icon: #507FA3;
  --action-icon-hover: #8fb8d5;
  --action-icon-active: #6DA6CE;
  --icon-disabled: #3E6383;
}
